/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #0d83cd;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frameworkWrapper {
  display: inline-block;
  min-width: 150px;
  position: relative;
}

.framework {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.framework svg {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.fadeOut {
  opacity: 0;
}

.animatedSubtitle {
  min-height: 60px;
}
