getting-started-bg = #c8c8c8
getting-started-height = 40px

intro-feature-margin = 50px
intro-feature-column = 3
intro-quick-start-column = 2

.center
  text-align center

#banner
  @extend $banner-background
  padding-top: 20px
  padding-bottom: 20px
  @media mq-normal
    padding-top: 20px

.btn
  display: inline-block
  padding: 15px 30px
  font-family: font-title
  font-weight: bold
  border: 3px solid color-blue
  border-radius: 3px
  color: color-blue
  font-size: 16px
  text-transform: uppercase
  transition: 0.2s
  text-decoration: none
  line-height: 1
  &:hover
    color: #fff
    background: color-blue

.btn-min
  display: inline-block
  padding: 15px 30px
  font-family: font-title
  font-weight: bold
  border: 3px solid color-grey
  border-radius: 3px
  color: color-blue
  font-size: 10px
  text-transform: uppercase
  transition: 0.2s
  text-decoration: none
  line-height: 1
  &:hover
    color: #fff
    background: color-grey

#banner-title
  color: #555
  font: 300 35px font-title
  text-shadow: 1px 0 #eee
  line-height: 1.3

$banner-getting-started-font
  font-family: font-mono
  font-size: 14px
  line-height: getting-started-height
  @media mq-normal
    font-size: 16px

#banner-getting-started
  clearfix()
  padding-top: 30px

#banner-getting-started-prefix
  @extend $banner-getting-started-font
  float: left
  background: getting-started-bg
  padding-left: 15px
  color: #999

#banner-getting-started-input
  @extend $banner-getting-started-font
  float: left
  float: left
  background: getting-started-bg
  color: #555
  border: none
  padding: 0 15px
  margin: 0
  height: getting-started-height
  border-radius: 0

#banner-getting-started-btn
  float: left
  background: #bbb
  color: #777
  text-decoration: none
  width: getting-started-height
  height: @width
  text-align: center
  line-height: @width
  font-size: 16px
  &:hover
    background: #aaa
    color: #555
  &:before
    @extend $icon-font
    content: "\f061"

#banner-share
  padding: 20px 0 0
  display: none
  @media mq-normal
    display: block

.intro-wrap
  padding: 20px 0
  @media mq-normal
    padding: 40px 0

.intro-feature-wrap
  column(12)
  @media mq-normal
    column(6)

.intro-features
  margin: 20px 0
  position: relative
  font-weight: 300
  font-family: font-title
  color: color-blue
  font-size: 30px
  padding-bottom: 5px
  line-height: 1em
  text-align: center
  @media mq-normal
    margin: 80px

.features
 display: flex
 flex-wrap: wrap
 justify-content: center

.features .feature
  margin: 5px 0
  width: 50%
  display: inline-block
  padding: 10px
  text-align: center

  @media mq-normal
    margin: 4px
    width: 30%;

.features .feature img
  width: 50%
  height: 200px
  object-fit: contain

.features .feature .desc
  width: 100%
  padding-top: 10px

.grid-item
  width: 100%
  padding: 20px
  box-sizing: border-box
  display: inline-block
  overflow: hidden
  @media mq-normal
    width: 50%

.grid-item.small
  @media mq-normal
    width: 33%

.grid-item a
  overflow: hidden
  box-sizing: border-box
  display: block
  width: 100%
  position: relative
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
  text-decoration: none
  transition: all .2s ease-in-out
  border-radius: .25rem

.grid-item a:hover
  transform: translateY(-2px);
  box-shadow: 0 10px 18px 0 rgba(0,0,0,.15)

.grid-item .preview
  box-sizing: border-box
  display: block
  width: 100%
  padding-top: 57.77777778%
  background-size: cover
  background-position: center center
  background-color: #272d37
  border-bottom: 1px solid #e6e6e6

.grid-item.small .description
  min-height: 50px !important

.grid-item .description
  box-sizing: border-box
  display: block
  padding: 20px
  min-height: 110px

.grid-item h4
  box-sizing: border-box
  font-size: 15px;

.grid-item h5
  box-sizing: border-box
  font-size: 30px;

.grid-item p
  box-sizing: border-box

.add-app
  text-decoration: none;
  font-size: 20px
  color: #9E9E9E

.demo-into
  font-size: 20px
  padding: 30px
  @media mq-normal
    padding-left: 20%
    padding-right: 20%

.section-title
  font-size: 30px
  padding: 10px
  text-align: center
  @media mq-normal
    padding-left: 20%
    padding-right: 20%

#intro-btn-wrap
  text-align: center
  margin-top 50px

#intro-btn
  display: inline-block
  padding: 15px 30px
  font-family: font-title
  font-weight: bold
  border: 3px solid color-blue
  border-radius: 3px
  color: color-blue
  font-size: 16px
  text-transform: uppercase
  transition: 0.2s
  text-decoration: none
  line-height: 1
  &:hover
    color: #fff
    background: color-blue
