layout: demos_list_page
title: Demos
description: Demos and samples of Konva framework
comments: false
---

div.demo-into There are some demos of the Konva Framework. But also we have a lot of #[a(href="/docs/") tutorials] for almost every aspect of the framework.

//- grid is created inside demos_list_page.ejs

//- .grid-container
//-   .grid-item.small
//-     a(href="/docs/sandbox/Wheel_of_Fortune.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/wheel-of-fortune-min.png);')
//-       .description
//-         h4 Wheel of Fortune Game

//-   .grid-item.small
//-     a(href="/docs/sandbox/Animals_on_the_Beach_Game.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/animals-min.png);')
//-       .description
//-         h4 Animals on the Beach Game

//-   .grid-item.small
//-     a(href="/docs/sandbox/Planets_Image_Map.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/planet-min.png);')
//-       .description
//-         h4 Planets Image Map

//-   .grid-item.small
//-     a(href="/docs/sandbox/Simple_Window_Frame.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/simple-window.png);')
//-       .description
//-         h4 Simple Window Frame

//-   .grid-item.small
//-     a(href="/docs/sandbox/Window_Frame_Designer.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/window.png);')
//-       .description
//-         h4 Window Frame Designer

//-   .grid-item.small
//-     a(href="/docs/sandbox/Image_Labeling.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/annotate.jpg);')
//-       .description
//-         h4 Drawing Labels on Image

//-   .grid-item.small
//-     a(href="/docs/sandbox/Star_Spinner.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/spinner-min.png);')
//-       .description
//-         h4 Star Spinner

//-   .grid-item.small
//-     a(href="/docs/sandbox/Connected_Objects.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/connected-objects.png);')
//-       .description
//-         h4 Connected Objects
    
//-   .grid-item.small
//-     a(href="/docs/sandbox/Seats_Reservation.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/seats-reservation.jpg);')
//-       .description
//-         h4 Seats Reservation

//-   .grid-item.small
//-     a(href="/docs/sandbox/Image_Resize.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/image-resize-min.png);')
//-       .description
//-         h4 Manual Image Resize

//-   .grid-item.small
//-     a(href="/docs/sandbox/Free_Drawing.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/free-drawing-min.png);')
//-       .description
//-         h4 Manual Free Drawing

//-   .grid-item.small
//-     a(href="/docs/sandbox/Stage_Preview.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/preview.jpg);')
//-       .description
//-         h4 Stage Preview

//-   .grid-item.small
//-     a(href="/docs/sandbox/Modify_Curves_with_Anchor_Points.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/modify-line-min.png);')
//-       .description
//-         h4 Modify Curves with Anchor Points

//-   .grid-item.small
//-     a(href="/docs/sandbox/Editable_Text.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/editable_text-min.png);')
//-       .description
//-         h4 Editable Text

//-   .grid-item.small
//-     a(href="/docs/sandbox/Rich_Text.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/rich-text.jpg);')
//-       .description
//-         h4 Rich Text rendering

//-   .grid-item.small
//-     a(href="/docs/sandbox/Collision_Detection.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/collision-min.png);')
//-       .description
//-         h4 Collision Detection

//-   .grid-item.small
//-     a(href="/docs/sandbox/Canvas_Scrolling.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/scroll.png);')
//-       .description
//-         h4 Canvas Scrolling

//-   .grid-item.small
//-     a(href="/docs/sandbox/GIF_On_Canvas.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/gif.jpg);')
//-       .description
//-         h4 Gif Animation

//-   .grid-item.small
//-     a(href="/docs/sandbox/Video_On_Canvas.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/video.jpg);')
//-       .description
//-         h4 Display Video

//-   .grid-item.small
//-     a(href="/docs/sandbox/SVG_On_Canvas.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/svg_on_canvas.jpg);')
//-       .description
//-         h4 SVG on Canvas

//-   .grid-item.small
//-     a(href="/docs/sandbox/Custom_Font.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/custom-font.png);')
//-       .description
//-         h4 Custom Font

//-   .grid-item.small
//-     a(href="/docs/sandbox/Quantum_Squiggle.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/squiggle-min.png);')
//-       .description
//-         h4 Quantum Squiggle

//-   .grid-item.small
//-     a(href="/docs/sandbox/Interactive_Building_Map.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/building_map-min.png);')
//-       .description
//-         h4 Interactive Building Map

//-   .grid-item.small
//-     a(href="/docs/sandbox/Physics_Simulator.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/simulator-min.png);')
//-       .description
//-         h4 Physics Simulator

//-   .grid-item.small
//-     a(href="/docs/sandbox/Elastic_Stars.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/stars-min.png);')
//-       .description
//-         h4 Elastic Stars

//-   .grid-item.small
//-     a(href="/docs/sandbox/Objects_Snapping.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/objects_snapping.png);')
//-       .description
//-         h4 Objects Snapping

//-   .grid-item.small
//-     a(href="/docs/sandbox/Shape_Tango.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/tango-min.png);')
//-       .description
//-         h4 Shape Tango

//-   .grid-item.small
//-     a(href="/docs/sandbox/Image_Border_Highlighting.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/border-min.png);')
//-       .description
//-         h4 Image Border Highlighting

//-   .grid-item.small
//-     a(href="/docs/sandbox/Zooming_Relative_To_Pointer.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/relative_zoom-min.png);')
//-       .description
//-         h4 Zoom Relative To Pointer

//-   .grid-item.small
//-     a(href="/docs/sandbox/20000_Nodes.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/2000_nodes-min.png);')
//-       .description
//-         h4 20000 Nodes

//-   .grid-item.small
//-     a(href="/docs/sandbox/Zoom_Layer_On_hover.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/hover_zoom-min.png);')
//-       .description
//-         h4 Zoom Layer On hover

//-   .grid-item.small
//-     a(href="/docs/sandbox/Responsive_Canvas.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/responsive-min.png);')
//-       .description
//-         h4 Responsive Canvas Stage

//-   .grid-item.small
//-     a(href="/docs/sandbox/Gestures.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/gestures.jpg);')
//-       .description
//-         h4 Touch Gestures

//-   .grid-item.small
//-     a(href="/docs/sandbox/Multi-touch_Scale_Shape.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/multitouch-min.png);')
//-       .description
//-         h4 Multi-touch Scale Shape

//-   .grid-item.small
//-     a(href="/docs/sandbox/Multi-touch_Scale_Stage.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/multitouch-min.png);')
//-       .description
//-         h4 Multi-touch Scale Stage

//-   .grid-item.small
//-     a(href="/docs/sandbox/Drag_and_Drop_Stress_Test.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/drag_stress-min.png);')
//-       .description
//-         h4 Drag and Drop Stress Test

//-   .grid-item.small
//-     a(href="/docs/sandbox/Animation_Stress_Test.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/animation_stress-min.png);')
//-       .description
//-         h4 Animation Stress Test

//-   .grid-item.small
//-     a(href="/docs/sandbox/Jumping_Bunnies.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/bunnies.jpg);')
//-       .description
//-         h4 Bunnies Stress Test

//-   .grid-item.small
//-     a(href="/docs/sandbox/10000_Shapes_with_Tooltip.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/tooltip_stress-min.png);')
//-       .description
//-         h4 10000 Shapes with Tooltip

//-   .grid-item.small
//-     a(href="/docs/sandbox/Modify_Shape_Color_on_Click.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/color_click-min.png);')
//-       .description
//-         h4 Modify Shape Color on Click

//-   .grid-item.small
//-     a(href="/docs/sandbox/Expand_Images_on_Hover.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/hover_expand-min.png);')
//-       .description
//-         h4 Expand Images on Hover

//-   .grid-item.small
//-     a(href="/docs/sandbox/Shape_Tooltips.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/shape_tooltip-min.png);')
//-       .description
//-         h4 Shape Tooltip

//-   .grid-item.small
//-     a(href="/docs/sandbox/Drag_and_Drop_Multiple_Shapes.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/drag_multiple-min.png);')
//-       .description
//-         h4 Drag and Drop Multiple Shapes

//-   .grid-item.small
//-     a(href="/docs/sandbox/Relative_Pointer_Position.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/pointer.png);')
//-       .description
//-         h4 Relative Pointer Position

//-   .grid-item.small
//-     a(href="/docs/sandbox/Drop_DOM_Element.html")
//-       .preview(style='background-image: url(/cn.konvajs/assets/demos/drop.png);')
//-       .description
//-         h4 Drop DOM Element


