layout: index
subtitle: HTML5 2d canvas library
description: Konva is 2d Canvas JavaScript framework for drawings shapes, animations, node nesting, layering, filtering, event handling, drag and drop and much more.
comments: false
---
.intro-wrap
  .outer
        h2.intro-features Features
        
        .features
          .feature
            img(src="/assets/features/undraw_abstract_x68e.svg")
            h3.desc Object Oriented API with support of many shapes
          .feature
            img(src="/assets/features/undraw_file_sync_ot38.svg")
            h3.desc Support for desktop and mobile devices

          .feature
            img(src="/assets/features/undraw_animating_1rgh.svg")
            h3.desc Animations and tweens

          .feature
            img(src="/assets/features/undraw_fitting_pieces_cli3.svg")
            h3.desc Node nesting, grouping and event bubbling

          .feature
            img(src="/assets/features/undraw_image_viewer_wxce.svg")
            h3.desc Hight quality exports into data URLs, image data, or image objects

          .feature
            img(src="/assets/features/undraw_options_2fvi.svg")
            h3.desc Nice read-to-use filters
        
          .feature
            img(src="/assets/features/undraw_voice_interface_eckp.svg")
            h3.desc Native integration with web frameworks such as React and Vue

          .feature
            img(src="/assets/features/undraw_drag_5i9w.svg")
            h3.desc Built-in Drag&drop support

        h2.intro-features Demo
        
        iframe(src='/downloads/code/main-demo.html',style='width:100%; height:600px; box-shadow: 0 0 10px grey; border-radius: 4px; overflow:hidden;')

        h2.intro-features Who is using Konva?


        .grid-container
          .grid-item
            a(href="https://polotno.dev/?utm_source=konvajs", target="_blank")
              .preview(style='background-image: url(/assets/users/polotno.jpg);')
              .description
                h5.name Polotno
                p Self-host design editor framework

          .grid-item
            a(href="https://smmplanner.com/home/sc", target="_blank")
              .preview(style='background-image: url(/assets/users/smmplanner.jpg);')
              .description
                h5.name SMMplanner
                p Constructor for creating Instagram Stories as part of the scheduled posting

          .grid-item
            a(href="https://rowsncolumns.app/", target="_blank")
              .preview(style='background-image: url(/assets/users/grid.jpg);')
              .description
                h5.name SpreadSheet Grid
                p Excel-like DataGrid component for React JS

          .grid-item
            a(href="https://pixteller.com", target="_blank")
              .preview(style='background-image: url(/assets/users/pixteller.jpg);')
              .description
                h5.name Pixteller
                p A design tool to create or customize any image in seconds

          .grid-item
            a(href="https://getpaddee.com", target="_blank")
              .preview(style='background-image: url(/assets/users/paddee.jpg);')
              .description
                h5.name Paddee
                p Marketplace and online editor for photo booth templates

          .grid-item
            a(href="https://www.facetache.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/moustache.jpg);')
              .description
                h5.name facetache
                p Add moustaches to photos!




          #intro-btn-wrap
            a.add-app(href="https://github.com/konvajs/konva/issues/256") Do you want to add your app here?

        

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/index.html") Get Started
