layout: index
subtitle: HTML5 2d canvas library
description: Konva is 2d Canvas JavaScript framework for drawings shapes, animations, node nesting, layering, filtering, event handling, drag and drop and much more.
comments: false
---
.intro-wrap
  .outer
        h2.intro-features Features
        
        .features
          .feature
            img(src="/assets/features/undraw_abstract_x68e.svg")
            h3.desc Object Oriented API with support of many shapes
          .feature
            img(src="/assets/features/undraw_file_sync_ot38.svg")
            h3.desc Support for desktop and mobile devices

          .feature
            img(src="/assets/features/undraw_animating_1rgh.svg")
            h3.desc Animations and tweens

          .feature
            img(src="/assets/features/undraw_fitting_pieces_cli3.svg")
            h3.desc Node nesting, grouping and event bubbling

          .feature
            img(src="/assets/features/undraw_image_viewer_wxce.svg")
            h3.desc Hight quality exports into data URLs, image data, or image objects

          .feature
            img(src="/assets/features/undraw_options_2fvi.svg")
            h3.desc Nice ready-to-use filters
        
          .feature
            img(src="/assets/features/undraw_voice_interface_eckp.svg")
            h3.desc Native integration with web frameworks such as React, Vue and Svelte

          .feature
            img(src="/assets/features/undraw_drag_5i9w.svg")
            h3.desc Built-in Drag&drop support

        h2.intro-features Demo
        
        iframe(src='/downloads/code/main-demo.html',style='width:100%; height:600px; box-shadow: 0 0 10px grey; border-radius: 4px; overflow:hidden;')

        h2.intro-features Who is using Konva?


        .grid-container
          .grid-item
            a(href="https://polotno.dev/?utm_source=konvajs", target="_blank")
              .preview(style='background-image: url(/assets/users/polotno.jpg);')
              .description
                h5.name Polotno
                p SDK for making design editors for the web

          .grid-item
            a(href="https://smmplanner.com/home/sc", target="_blank")
              .preview(style='background-image: url(/assets/users/smmplanner.jpg);')
              .description
                h5.name SMMplanner
                p Constructor for creating Instagram Stories as part of the scheduled posting

          .grid-item
            a(href="https://rowsncolumns.app/", target="_blank")
              .preview(style='background-image: url(/assets/users/grid.jpg);')
              .description
                h5.name SpreadSheet Grid
                p Excel-like DataGrid component for React JS

          .grid-item
            a(href="http://windowcc.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/windoor.jpg);')
              .description
                h5.name Windoor craft
                p Tool for designing window and door with drag and drop

          .grid-item.small
            a(href="https://pixteller.com", target="_blank")
              .preview(style='background-image: url(/assets/users/pixteller.jpg);')
              .description
                h5.name Pixteller
                p A design tool to create or customize any image in seconds

          .grid-item.small
            a(href="https://getpaddee.com", target="_blank")
              .preview(style='background-image: url(/assets/users/paddee.jpg);')
              .description
                h5.name Paddee
                p Marketplace and online editor for photo booth templates

          .grid-item.small
            a(href="https://github.com/Lastik/some-charts", target="_blank")
              .preview(style='background-image: url(/assets/users/some-charts.png);')
              .description
                h5.name Some-charts
                p JS charting library

          .grid-item.small
            a(href="https://shelly.dev/", target="_blank")
              .preview(style='background-image: url(/assets/users/shelly.jpg);')
              .description
                h5.name Shelly
                p A programming language for drawing

          .grid-item.small
            a(href="https://taggle.so.io/", target="_blank")
              .preview(style='background-image: url(/assets/users/yokanban.jpg);')
              .description
                h5.name Taggle.so
                p A modern project management whiteboard that inspires flow and communication

          .grid-item.small
            a(href="https://boardos.online", target="_blank")
              .preview(style='background-image: url(/assets/users/boardos.jpg);')
              .description
                h5.name BoardOS
                p Online whiteboard collaboration system

          .grid-item.small
            a(href="https://app.vokal.co/editor", target="_blank")
              .preview(style='background-image: url(/assets/users/vokal.jpg);')
              .description
                h5.name Vokal
                p Create podcast video snippets for social media

          .grid-item.small
            a(href="https://www.facetache.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/moustache.jpg);')
              .description
                h5.name facetache
                p Add moustaches to photos!

          .grid-item.small
            a(href="https://www.blueletterbible.org/smark/index.cfm", target="_blank")
              .preview(style='background-image: url(/assets/users/scripture-mark.jpg);')
              .description
                h5.name ScriptureMark
                p Interact with Bible text on a canvas

          .grid-item.small
            a(href="https://lets-role.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/lets-role.jpg);')
              .description
                h5.name Let's Role
                p Play TableTop RPG in a virtual environment

          .grid-item.small
            a(href="http://www.csgoboard.com/board", target="_blank")
              .preview(style='background-image: url(/assets/users/csgoboard.jpg);')
              .description
                h5.name csgoboard
                p Interactive board for Valve's game Counter-Strike

          .grid-item.small
            a(href="https://www.brainzilla.com/puzzles/jigsaw/", target="_blank")
              .preview(style='background-image: url(/assets/users/puzzle.jpg);')
              .description
                h5.name brainzilla
                p Online jigsaw puzzle

          .grid-item.small
            a(href="https://github.com/kirill3333/react-avatar", target="_blank")
              .preview(style='background-image: url(/assets/users/avatar.jpg);')
              .description
                h5.name react-avatar
                p Load, crop & preview avatar with React

          .grid-item.small
            a(href="https://mcalus3.github.io/color-wars-web/", target="_blank")
              .preview(style='background-image: url(/assets/users/colors-wars.jpg);')
              .description
                h5.name Color wars game
                p Hot-seat multiplayer, arcade, with focus on competition

          .grid-item.small
            a(href="https://www.kuruko.com/design", target="_blank")
              .preview(style='background-image: url(/assets/users/kuruko.jpg);')
              .description
                h5.name Kuruko
                p Create Custom Wall Art

          .grid-item.small
            a(href="https://www.opdome.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/opdome.jpg);')
              .description
                h5.name Opdome
                p Online Picture Dictionary

          .grid-item.small
            a(href="https://e-cards.shop/de/cards/create/2/1", target="_blank")
              .preview(style='background-image: url(/assets/users/e-cards.jpg);')
              .description
                h5.name E-cards
                p Online shop for business ecards

          .grid-item.small
            a(href="https://mystikaze.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/mystikaze.jpg);')
              .description
                h5.name Mystikaze
                p An online turn-based hex battle strategy game



          #intro-btn-wrap
            a.add-app(href="https://github.com/konvajs/konva/discussions/1169") Do you want to add your app here?

        

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/index.html") Get Started
