layout: index
subtitle: html5 2d canvas framework
description: Konva is a fast, simple & powerful 2d canvas framework.
---
.intro-wrap
  .outer
      .center
        h2.intro-features Features
        ul
          li.feature Object Oriented API
          li.feature Node nesting and event bubbling
          li.feature High performance event detection via color map hashing
          li.feature Layering support
          li.feature Node caching to improve draw performance
          li.feature Nodes can be converted into data URLs, image data, or image objects
          li.feature Animation support
          li.feature Tween support
          li.feature Drag and drop with configurable constraints and bounds
          li.feature Filters
          li.feature Ready to use shapes including rectangles, circles, images, text, lines, polygons, SVG paths, and more
          li.feature Custom shapes
          li.feature Event driven architecture which enables developers to subscribe to attr change events, layer draw events, and more
          li.feature Serialization & de-serialization
          li.feature Selector support e.g. stage.get('#foo') and layer.get('.bar');
          li.feature Desktop and mobile events
          li.feature AMD support
          li.feature Pixel ratio optimizations for sharp text and images
          li.feature Custom hit regions
          li.feature and more...

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/") Get Started
