layout: index
subtitle: html5 2d canvas framework
description: Konva is a fast, simple & powerful 2d canvas framework.
comments: false
---
.intro-wrap
  .outer
        h2.intro-features Features
        ul.features
          li Built-in in support for HDPI devices with pixel ratio optimizations for sharp text and shapes
          li Object Oriented API
          li Node nesting and event bubbling
          li High performance event detection via color map hashing
          li Layering support
          li Node caching to improve draw performance
          li Nodes can be converted into data URLs, image data, or image objects
          li Animation support
          li Tween support
          li Drag and drop with configurable constraints and bounds
          li Filters
          li Ready to use shapes including rectangles, circles, images, text, lines, polygons, SVG paths, and more
          li Custom shapes
          li Event driven architecture which enables developers to subscribe to attr change events, layer draw events, and more
          li Serialization & de-serialization
          li Selector support e.g. stage.get('#foo') and layer.get('.bar');
          li Desktop and mobile events
          li AMD support
          li Custom hit regions
          li and more...
          h2.intro-features Demo
          p.codepen(data-height='500', data-theme-id='11714', data-slug-hash='myBPGo', data-default-tab='result', data-user='lavrton')
              | See the Pen
              a(href='http://codepen.io/lavrton/pen/myBPGo/') KonvaJS Demo
              |  by Anton Lavrenov (
              a(href='http://codepen.io/lavrton') @lavrton
              | ) on
              a(href='http://codepen.io') CodePen
              | .
              script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/") Get Started
