<aside id="sidebar">
  <% _.each(theme.demo_sidebar, function(menu, title){ %>
    <strong class="sidebar-title">
      <%= title %>
    </strong>
    <% _.each(menu, function(data, text){ %>
      <a href="<%- url_for('docs/' + data[1]) %>" class="sidebar-link<% if (is_current('docs/' + data[1], true)){ %> current<% } %>">
        <%= text %>
      </a>
      <% }) %>
        <% }) %>
</aside>