<header id="header">
  <div class="outer">
    <div class="inner">
      <div id="logo-wrap">
        <a href="<%- url_for() %>" id="logo">Konva</a>
        <a id="main-nav-toggle"></a>
      </div>
      <nav id="main-nav">
        <ul id="main-nav-list">
          <% _.each(theme.menu, function(menu, title){ %>
          <li class="main-nav-item">
            <a href="<%= url_for(menu) %>" class="main-nav-link">
              <%= title %>
            </a>
          </li>
          <% }); %>
          <li class="main-nav-item">
            <input id="search" placeholder="Search the docs" />
          </li>
          <li class="main-nav-item">
            <a
              href="https://lavrton.com/consulting"
              title="Consulting"
              target="_blank"
              class="main-nav-link"
              style="color: white;background: #0bad42;padding: 10px;border-radius: 10px;"
              >Consulting</a
            >
          </li>
        </ul>

        <a
          href="https://github.com/<%- theme.github %>"
          id="github-btn"
          title="GitHub"
          target="_blank"
        ></a>
        <!--
          <a id="search-btn" class="st-search-launcher" title="Search"></a>
        -->
      </nav>
    </div>
  </div>
</header>
