<!-- GitHub Star -->
<iframe src="http://ghbtns.com/github-btn.html?user=konvajs&repo=konva&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px" class="alignleft"></iframe>
<!-- Tweet button -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://konvajs.github.io/" data-text="Konva - is a 2d html5 canvas framework for desktop and mobile applications." data-hashtags="konvajs,javascript">Tweet</a>
<!-- Twitter Follow Button -->
<a href="https://twitter.com/lavrton" class="twitter-follow-button" data-show-count="false">Follow @lavrton</a>
