<div id="banner">
  <div class="outer">
    <div class="inner" style="text-align: center;">
      <h1 id="banner-title">
        react-konva - canvas components for React.
      </h1>
      <h2 id="banner-subtitle">
        Declarative way to work with 2d HTML5 canvas.
      </h1>
      <pre
        style="
          padding: 10px;
          margin-top: 14px;
          line-height: 16px;
          width: 270px;
          display: inline-block;
        "
      >
npm install react-konva konva</pre
      >

      <div id="banner-getting-started">
        <a class="btn" href="/docs/react/Overview.html">Get started</a>
      </div>
      <div id="banner-share">
        <%- partial('_partial/share') %>
        <div><%- partial('_partial/subscribe') %></div>
      </div>
    </div>
  </div>
</div>

<%- page.content %>
