<div id="banner">
  <div class="outer">
    <div class="inner" style="text-align: center;">
      <h2 id="banner-title">
        Konva.js - HTML5 2d canvas library for desktop and mobile applications.
      </h2>
      <pre
        style="padding: 10px; margin-top: 14px; line-height: 16px; width: 170px; display: inline-block;"
      >
npm install konva</pre
      >
      <div id="banner-getting-started">
        <a
          class="btn"
          href="https://unpkg.com/konva@3.4.1/konva.min.js"
          target="_blank"
          >⬇️ Download</a
        >
        <a class="btn" href="/docs/">🤓 Get started</a>
      </div>
      <div id="banner-share">
        <%- partial('_partial/share') %>
        <div><%- partial('_partial/subscribe') %></div>
      </div>
    </div>
  </div>
</div>

<%- page.content %>
